## Setup

In [ ]:
%load_ext autoreload
%autoreload 2
import sys
import os

sys.path.append('../scripts')

from data_loader import load_mics_data
from data_cleaner import merge_mics_data, create_target_variables
from utils import ensure_dir

raw_dir = '../data/raw'
processed_dir = '../data/processed'
ensure_dir(processed_dir)

## Load Data

In [2]:
df_child, df_women, df_household = load_mics_data(raw_dir)

In [3]:
# Only keep relevant columns in each df
df_child = df_child[['HH1', 'HAZ', 'UB2', 'EC6', 'EC7', 'EC8', 'EC9', 'EC10', 'EC11', 'EC12', 'EC13', 'EC14', 'EC15', 'BD2', 'BD3', 'CA1']]
df_women = df_women[['HH1', 'WB6A', 'WB6B', 'WAGE', 'MN5', 'WB14', 'MN34']]
df_household = df_household[['HH1', 'windex5', 'HH48', 'WS1', 'WS4']]

## Merge Data

In [4]:
df_merged = merge_mics_data(df_child, df_women, df_household)
df_final = create_target_variables(df_merged)

In [6]:
save_path = processed_dir
df_merged.to_csv(os.path.join(save_path, "df_merged.csv"), index = False)
df_merged.head(10)

,HH1,HAZ,UB2,EC6,EC7,EC8,EC9,EC10,EC11,EC12,...,MN5,WB14,MN34,WS1,WS4,HH48,windex5,stunted,ecd_i_count,ecd_on_track
0,1.0,-0.6,4.0,1.0,1.0,1.0,1.0,0.0,1.0,1.0,...,NaN,NaN,NaN,TUBE WELL / BOREHOLE,NaN,4.0,Richest,0,8.0,1
1,1.0,-0.6,4.0,1.0,1.0,1.0,1.0,0.0,1.0,1.0,...,NaN,NaN,NaN,TUBE WELL / BOREHOLE,NaN,3.0,Middle,0,8.0,1
2,1.0,-0.6,4.0,1.0,1.0,1.0,1.0,0.0,1.0,1.0,...,NaN,NaN,NaN,TUBE WELL / BOREHOLE,NaN,3.0,Middle,0,8.0,1
3,1.0,-0.6,4.0,1.0,1.0,1.0,1.0,0.0,1.0,1.0,...,NaN,NaN,NaN,TUBE WELL / BOREHOLE,10.0,2.0,Middle,0,8.0,1
4,1.0,-0.6,4.0,1.0,1.0,1.0,1.0,0.0,1.0,1.0,...,NaN,NaN,NaN,TUBE WELL / BOREHOLE,9.0,3.0,Fourth,0,8.0,1
5,1.0,-0.6,4.0,1.0,1.0,1.0,1.0,0.0,1.0,1.0,...,NaN,NaN,NaN,TUBE WELL / BOREHOLE,10.0,4.0,Middle,0,8.0,1
6,1.0,-0.6,4.0,1.0,1.0,1.0,1.0,0.0,1.0,1.0,...,NaN,NaN,NaN,TUBE WELL / BOREHOLE,6.0,5.0,Richest,0,8.0,1
7,1.0,-0.6,4.0,1.0,1.0,1.0,1.0,0.0,1.0,1.0,...,NaN,NaN,NaN,TUBE WELL / BOREHOLE,NaN,4.0,Richest,0,8.0,1
8,1.0,-0.6,4.0,1.0,1.0,1.0,1.0,0.0,1.0,1.0,...,NaN,NaN,NaN,TUBE WELL / BOREHOLE,NaN,3.0,Richest,0,8.0,1
9,1.0,-0.6,4.0,1.0,1.0,1.0,1.0,0.0,1.0,1.0,...,NaN,NaN,NaN,TUBE WELL / BOREHOLE,5.0,3.0,Richest,0,8.0,1